
.navbar{
    position: sticky;
    background-color: #4A63E7;
    border-radius: 20px;
}

.nav-item {

    /*min-width: 200px;*/
}

img {
    /*padding: 4px;*/
    width: 60px;
    height: 60px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar-toggler {
    border: 2px solid #2f66f6 !important;
    padding: 0;
}

.navbar-toggler:hover{
    border: 2px solid white!important;
    background-color: #2f66f6;
    box-shadow: 5px 10px 18px #3c403c;
}
h3 {
    color: white;
}





